[Desktop Entry]
Encoding=UTF-8
Name=Link to c - read bitmap file into structure - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/14279242/read-bitmap-file-into-structure
Icon=text-html
