[Desktop Entry]
Encoding=UTF-8
Name=Link to Extract images frame by frame from a video file using FFMPEG | BugCodeMaster
Type=Link
URL=https://www.bugcodemaster.com/article/extract-images-frame-frame-video-file-using-ffmpeg
Icon=text-html
