[Desktop Entry]
Encoding=UTF-8
Name=Link to How to read BMP images in Java
Type=Link
URL=https://blog.idrsolutions.com/2017/03/how-to-read-bmp-images-in-java/
Icon=text-html
