[Desktop Entry]
Encoding=UTF-8
Name=Link to OpenCV: Canny Edge Detector
Type=Link
URL=https://docs.opencv.org/3.4/da/d5c/tutorial_canny_detector.html
Icon=text-html
