[Desktop Entry]
Encoding=UTF-8
Name=Link to reading bmp image in c - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/26650047/reading-bmp-image-in-c
Icon=text-html
